 .u-section-1 {
  --color-var: #fdf2f1;
}

.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-gallery-1 {
  height: 646px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 51.14%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 39.47%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 79.06%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-1 {
  font-family: "Great Vibes";
  font-size: 1.5rem;
  font-weight: 400;
  margin: -289px auto 0 36px;
}

.u-section-1 .u-text-2 {
  font-family: "Bodoni Moda";
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --text-color-var: #b86c7d;
  font-size: 1.5rem;
  margin: -138px auto 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -291px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -140px;
    margin-left: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -285px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -142px;
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-top: -293px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-top: -118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -303px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -142px;
    margin-right: 85px;
    margin-left: 30px;
  }
}